# Python Einführung

Wir lernen Python.

## Erste Anweisung

In [14]:
print("Hello World!")

Hello World!

In [15]:
print("'Hello World!', sagte sie")

'Hello World!', sagte sie

In [16]:
# Dies ist ein Kommentar
print("Hallöchen")

Hallöchen

## Datentypen

In [17]:
# Variable
name = 'Lovelace'
print(name)

Lovelace

In [18]:
# Integer - Ganze Zahl
age = 73
print(age)

73

In [19]:
# Float - Gleitkommazahlen
size = 1.7123
print(size)

1.7123

In [20]:
# Boolan - Boolscher Wert
knows_math = True
likes_gardening = False

In [21]:
print(knows_math)
print(likes_gardening)

True
False

In [22]:
type(name)

str

In [23]:
type(size)

float

In [24]:
name

'Lovelace'

In [25]:
print(name)
print(age)

Lovelace
73

In [26]:
name

'Lovelace'

## Operatoren

In [27]:
# Addition von Integers
5+5

10

In [29]:
5 + age

78

In [28]:
# Multiplikation von Integers
5*5

25

In [30]:
5 * age

365

In [31]:
# Verkettung von Strings
name + name

'LovelaceLovelace'

In [32]:
# x-mal verketten
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [36]:
# Vermischung von Datentypen
name + str(age)

'Lovelace73'

In [35]:
name + '10'

'Lovelace10'

In [37]:
# Division
size/age

0.023456164383561642

In [41]:
number_of_articles = '50'

In [42]:
number_of_articles/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [43]:
int(number_of_articles)/10

5.0

## Funktionen und Methoden

In [44]:
# Zählt Zeichen
len(name)

8

In [45]:
# Schreibt in Großbuchstaben
name.upper()

'LOVELACE'

In [46]:
# Variable selbst verändert sich nicht
print(name)

Lovelace

In [47]:
name.count('e')

2

In [49]:
# Methode mit zwei Argumenten
name.replace('lace', ' is everywhere')

'Love is everywhere'

In [50]:
name

'Lovelace'

In [51]:
# Name Count ist case sensitiv
name.count('l')

1

## Listen und Dictionaries

In [53]:
# Liste
names = ['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [54]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [55]:
names[1]

'Darwin'

In [56]:
names[-1]

'Hawking'

In [57]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [58]:
names[3:]

['Hawking']

In [62]:
# Tuple
names_tup = ('Lovelace', 'Darwin', 'Curie', 'Hawking')

In [59]:
# Dictionary
authors_and_birth_years = {'Lovelace': 1815,
                           'Darwin': 1809,
                           'Noether': 1882,
                           'Hawking': 1942}

In [60]:
type(authors_and_birth_years)

dict

In [61]:
authors_and_birth_years['Darwin']

1809

In [63]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

## for-Schleifen

Liste:
names = ['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [66]:
for person in names:
    print(person + ' did awsome stuff.')
print(person)

Lovelace did awsome stuff.
Darwin did awsome stuff.
Curie did awsome stuff.
Hawking did awsome stuff.
Hawking

In [70]:
for person in names:
    print(person + ' did awsome stuff.')
    print('____')
print('End')

Lovelace did awsome stuff.
____
Darwin did awsome stuff.
____
Curie did awsome stuff.
____
Hawking did awsome stuff.
____
End

## Bedingte Anweisungen (Conditionals)

In [71]:
temp = 20

In [72]:
if temp > 15:
    print("It's warm")

It's warm

In [73]:
if temp > 25:
    print("It's warm")

In [74]:
20 > 15

True

In [75]:
20 > 70

False

In [76]:
temp = 10

if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [77]:
temp

10

In [79]:
temp = 15

if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

## Exkurs

In [80]:
import os
print(os.path.abspath(os.getcwd()))

C:\Users\nutzer

In [82]:
temperatures = [15, 25, 10]

for temperature in temperatures:
    if temperature >= 25:
        print("It's hot")
    elif temperature >= 15:
        print("It's warm")
    else:
        print("It's cold")

It's warm
It's hot
It's cold